name: Publish to PyPI

on:
 release:
  types:
   - created

jobs:
 build-n-publish:
  name: Build and publish Python distribution to PyPI
  runs-on: ubuntu-latest
  steps:
   - name: Check out git repository
     uses: actions/checkout@v2.6.0

   - name: Set up Python 3.7
     uses: actions/setup-python@v4.3.1
     with:
      python-version: 3.7

   - name: Install poetry
     uses: abatilo/actions-poetry@v2.1.6
     with:
      poetry-version: "1.2.0"

   - name: Build and publish to PYPI
     run: |
       poetry publish --build
     env:
       GITHUB: 1
       POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
