name: Tests

on: [push]

jobs:
  tests:
    name: Tests (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.7" ]
    steps:
      - uses: actions/checkout@v2.6.0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.3.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up poetry
        uses: abatilo/actions-poetry@v2.1.6
        with:
          poetry-version: 1.2.0

      - name: Install package
        run: |
          poetry install

      - name: Test with pytest & Coveralls
        run: |
          poetry run pytest --cov=cg_hermes/ --cov-report xml --cov-report term

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
